<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Code Activated</title>
  <link rel="stylesheet" href="">
</head>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-3">
      <h1>Account successfully activated</h1>

      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Code Activated!!!</h4>
        <p class="mb-0">You have successfully activated your account.</p>
        <hr>
        <p>
          <button type="button" onclick=location.href='/auth/login' class="btn btn-success">Login</button>        </p>
      </div>


    </div>
  </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>