<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Code Expired</title>
  <link rel="stylesheet" href="">
</head>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-3">
      <h1>Verification Code Sent</h1>


      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Code Expired!!!</h4>
        <p class="mb-0">The code sent to your email has expired. Please register again.</p>
        <hr>
        <p>
          <button type="button" onclick=location.href='/auth/register' class="btn btn-success">Register</button>        </p>
      </div>


    </div>
  </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>