<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Verification</title>
    <link rel="stylesheet" href="">
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-3">
            <h1>Verification Code Sent</h1>
            <div class="alert alert-primary" role="alert">
                <p>We have sent a verification code to your email. Please check your inbox.</p>
            </div>

<!--            <div class="alert alert-success" role="alert">-->
<!--                <h4 class="alert-heading">Well done!</h4>-->
<!--                <p class="mb-0">Verification Code Sent</p>-->
<!--                <hr>-->
<!--                <p>We have sent a verification code to your email. Please check your inbox.</p>-->
<!--            </div>-->

        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>