<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practise</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="background-color: beige">

<div class="wrapper">
    <br><br><br>
    <div style="text-align: center">
        <h1 style="color: #1d2124">What are you going to practise?</h1>
        <br>
        <br>
    </div>
    <div style="text-align: center">
        <a type="button" class="btn btn-primary btn-lg" href="/practise/story">Story</a>
        <a type="button" class="btn btn-primary btn-lg" href="/practise/grammar">Grammar</a>
    </div>
</div>

</body>
</html>